<div class="c-header clearfix">
  <a class="c-logo" href="http://airuxu.cn/notebook">Notebook</a>
  <div class="c-nav">
    <ul class="clearfix">
      <li class="on"><a href="http://airuxu.cn/notebook/">Notebook</a></li>
      <li><a href="https://github.com/wbflike" target="_blank">Github</a></li>
    </ul>
  </div>
  <a class="c-fork" href="https://github.com/wbflike/notebook" target="_blank">+ Fork</a>
</div>